* {margin: 0;
   padding: 0;
}

#grid_wrap {display: grid;
            grid-template-columns: 200px 1fr;
            grid-template-rows: 100vh;
            grid-template-areas: 
            "na fr";
}
#om_oss_wrap    {display: grid;
                grid-template-columns: 200px 1fr;
                grid-template-rows: 100px 1fr 70px;
                grid-template-areas: 
                "na he"
                "na om"
                "na fo";
}

#menu_wrap    {display: grid;
         grid-template-columns: 200px 1fr;
         grid-template-rows: 100vh;
        grid-template-areas: 
        "na me"
}

header {grid-area: he;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        border: 4px solid black;
        background-color: rgb(17, 17, 17);
        display: flex;
        justify-content: center;
        align-items: center;
}

footer {grid-area: he;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        border: 4px solid black;
        background-color: rgb(17, 17, 17);
        display: flex;
        justify-content: center;
        align-items: center;
}

#flex_nav {grid-area: na;
            display: flex;
            align-items: center;
            flex-direction: column;
            border: 4px solid black;
            background-color: rgb(17, 17, 17)
}

#logo {width: 400px;
        height: auto;
        padding: 0px;
}

.nav_sidor {padding: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white; 
}

#nav_front {color: darkblue;}

#frontpage {background-image: url(../img/Storefront_Beanery.png);
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 200px;
}
#citat {font-family: 'Times New Roman', Times, serif;
        color:grey;
        text-shadow: black;
}

#flex_meny {
        grid-area: me;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/lucas-benjamin-GAM-7l4QzmI-unsplash.jpg);
        background-size: cover;
        background-position: center;

}

.meny_boxar {
        border: 4px solid black;
        border-radius: 2px;
        background-color: aquamarine;
        margin: 40px;
}

#brunch {
        background-image: url(../img/eiliv-sonas-aceron-99muSP3cqhY-unsplash.jpg);
        height: 480px;
        width: 320px;
        background-size: cover;
        background-position: center;

}

#bon {
        background-image: url(../img/visual-stories-micheile-FhMB8pMge5U-unsplash.jpg);
        height: 480px;
        width: 320px;
        background-size: cover;
        background-position: center;

}

#drycker {
        background-image: url(../img/ante-samarzija-lsmu0rUhUOk-unsplash.jpg);
        height: 480px;
        width: 320px;
        background-size: cover;
        background-position: center;

}