* {margin: 0;
   padding: 0;
}

#grid_wrap {display: grid;
            grid-template-columns: 1fr 200px;
            grid-template-rows: 100vh;
            grid-template-areas: 
            "fr na";
}
#om_oss_wrap    {display: grid;
                grid-template-columns: 1fr 200px;
                grid-template-rows: 1fr 100px;
                grid-template-areas: 
                "om na"
                "fo na";
}

#menu_wrap    {display: grid;
         grid-template-columns: 1fr 200px;
         grid-template-rows: 100vh;
        grid-template-areas: 
        "me na"
}


footer {grid-area: fo;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        border: 4px solid black;
        background-color: rgb(17, 17, 17);
        display: flex;
        justify-content: center;
        align-items: center;
}

#flex_nav {grid-area: na;
            display: flex;
            align-items: center;
            flex-direction: column;
            border: 4px solid black;
            background-color: rgb(17, 17, 17);
            gap: 30px;
}

#logo {width: 200px;
        height: auto;
}

.nav_sidor {
        margin: 20px;
            color: white; 
            font-size: 4ch;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-decoration: none;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 70px;
            padding: 0;
            margin: 0;

}

#nav_front {color: darkblue;}

#frontpage {background-image: url(../img/Storefront_Beanery.png);
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 200px;
}
#citat {font-family: 'Times New Roman', Times, serif;
        color:grey;
        text-shadow: black;
}

#flex_meny {
        grid-area: me;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/lucas-benjamin-GAM-7l4QzmI-unsplash.jpg);
        background-size: cover;
        background-position: center;

}

.meny_boxar {
        border: 4px solid black;
        border-radius: 2px;
        background-color: aquamarine;
        margin: 40px;
        height: 600px;
        width: 400px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 70px;

}

#brunch {
        background-image: url(../img/eiliv-sonas-aceron-99muSP3cqhY-unsplash.jpg);
}

#bon {
        background-image: url(../img/christina-rumpf-qjh-BCHbHis-unsplash.jpg);
}

#drycker {
        background-image: url(../img/ante-samarzija-lsmu0rUhUOk-unsplash.jpg); 
}

.titel {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 5ch;
        color: white;
        margin: 30px;
}

.kostnad {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 3ch;
        color: rgb(51, 204, 255);
        margin: 10px;
        background: rgb(17, 17, 17);
        border: black 2px solid;
}


.inkluderar {
        font-family: 'Times New Roman', Times, serif;
        font-size: 3ch;
        color: white;
        margin: 40px;
        background: rgb(17, 17, 17);
        border: black 2px solid;
}

#om_oss {
        grid-area: om;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/carl-raw-_NEzKE6Zdp4-unsplash.jpg);
        background-size: cover;
        background-position: center;
        flex-direction: column;
        padding: 40px;
        gap: 70px;
}

.inner_box {
        display: flex;
        flex-direction: row;
        gap: 100px
}

#om_oss_bild_ceo {
        border: black 2px solid;
        height: auto;
        width: 600px;
}

.om_oss_text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        border: 2px solid black;
        background: rgb(17, 17, 17);
        color: whitesmoke;
        font-size: 3ch;
        gap: 30px;
        padding: 30px;
}

.rubrik {
        font-size: 4ch;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: orange;

}

#om_oss_bild_store {
        border: black 2px solid;
        height: auto;
        width: 800 px;
}

#drinkar_text {
        font-family: 'Times New Roman', Times, serif;
        font-size: 3ch;
        color: white;
        margin: 40px;
        display: flex;
        gap: 30px;
        background: rgb(17, 17, 17);
        border: black 2px solid;
}

.text_drinkar {
        display: flex;
        flex-direction: column;
        gap: 30px;
}
